/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #78787A;
	
}




/* 2. Content ================================= */

h1 {
	position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.chat-box {
	background: blue;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	border: 1px solid black;
	padding: 10px;
	position: absolute;
    top: 50%;
    left: 50%;
    height: 400px;
    width: 300px;
    transform: translate(-50%, -50%);


    .timestamp {
    	color: red;
    }

    li {
    	margin: 5px;
    }

    input {
    	margin: 5px;
    }
}













