/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background: #ccc;
    background: url(../img/aim.png);
    background-repeat: no-repeat;
    background-position: (50%, 50%);
    margin-top: 200px;
	
}

/* 2. Content ================================= */

.chat-box {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	border: 1px solid black;
	padding: 10px;
	position: absolute;
    top: 70%;
    left: 50%;
    height: 400px;
    width: 300px;
    transform: translate(-50%, -50%);


    .timestamp {
    	color: red;
    }

    li {
    	margin: 5px;
    }

    input {
    	margin: 5px;
    }
}













